/* body,html{

  overflow: hidden;
} */



@keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  body,html{
    background-image: url(../bg.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  @keyframes popup {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  