/* body,html{

  overflow: hidden;
} */


/* Default Popup Animation */
@keyframes popup {
  0% {
    transform: translateX(-50%) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}


/* Responsive Background for Mobile Devices */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-image: url(../bg.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* Extra Small Devices (phones, less than 576px) */
@media (max-width: 576px) {
  .seat-container {
    flex-direction: column;
    padding: 2vh; /* Add padding */
  }
}

/* Small Devices (tablets, 576px to 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  .seat-container {
    flex-direction: row;
    padding: 3vh;
  }
}

/* Medium Devices (desktop, 768px and up) */
@media (max-width: 768px) {
  .popupStyle {
    font-size: 4vw; /* Increase popup font size */
    padding: 1vh 3vh; /* More padding */
  }

  .seatStyle {
    width: 8vw;
    height: 8vw;
    padding: 1.5vh;
  }
}
.container {
  scroll-behavior: smooth;
}